form input.login,.loginbtn{
  box-shadow: none !important;
}
.nav-link,.dropdown-toggle,.dropdown-item{
  cursor: pointer;
}

span img {
  max-height: 50px;
  max-height: 50px;
  border: 1px solid white;
}
